<div class="container">
  <h1> List of flats</h1>
  <div class="row">
  <% @flats.each do |flat|  %>
  <div class="col-md-4">

  <div class="card">
    <div class="img">
    </div>
    <div class="inf">
      <div class="inf-name">
      <h3> <%= flat.name %> </h3>
      </div>
      <p> <%= flat.address %></p>
      <div class="inf-number">
        <i class="fa-solid fa-dollar-sign"></i><span><%= flat.price_per_night %> </span>
        <i class="fa-solid fa-people-group"></i><span><%= flat.number_of_guests %> </span>
      </div>
    </div>
    <div class="footer">
      <%= link_to "Sobre", flat_path(flat), class: "btn btn-primary"%>
      <%= link_to "Editar", edit_flat_path(flat), class: "btn btn-secondary" %>
      <%= link_to "Remove", flat_path(flat),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger"
            %>
    </div>
  </div>
  </div>
  <% end %>
  </div>
















</div>
