<!DOCTYPE html>
<html>
  <head>
    <title>SimpleAirbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

   <nav class= "navbar">
    <div class="container">
        <h6><%= link_to "SimpleAirbnb", flats_path %></h6>
        <form class= "navbar1 ms-auto my-2 mx-2" >
          <input class="form-control mx-2 " name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn btn-outline-success mx-2" type="submit">Search</button>
       </form>
      <%= link_to "New Flat", new_flat_path, class: "btn btn-primary" %>
    </div>
   </nav>
    <%= yield %>
  </body>
</html>
